LICENSE
LICENCE
LICENSE-APACHE
LICENSE-MIT
LICENCE-APACHE
LICENCE-MIT
README.md

.gitignore
.gitattributes

__pycache__/
.mypy_cache/

.venv/
venv/

node_modules/

.vscode/

.env
.env.example

.flake8

mypy.ini

docker-compose.yml
Dockerfile